/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
*.log
notes.txt
cv-dataset-1.zip
cv-dataset-1/
archive.zip
traffic.log.2018-11-26.0.gz
*.gz
REST API web-сервиса.docx
